body#LoginForm{ background-image:url("https://s3-eu-west-1.amazonaws.com/sales-i-wordpress/wp-content/uploads/2015/09/28093505/black-background.png"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;}

.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 20px auto 30px;
  padding: 50px 70px 70px 71px;
}

.containerS {
	margin: 10px auto;
    width: 80%;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: #86BC25 none repeat scroll 0 0;
  color: #ffffff;
  font-size: 14px;
  height: 40px;
}

.forgot {
  text-align: left; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background: #86BC25 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}

.centered-form{
margin-top: 60px;
}

.centered-form .panel{
background: rgba(255, 255, 255, 0.8);
box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

p {
	font-size: 12px;
}

a {
	cursor: pointer;
}

.input-group-prepend {
	cursor: pointer;
}

.input-group-text {
	cursor: pointer;
}
