.formButtons {
	float: right;
}

.form h1 {
	display: inline;
	font-size: 22px;
}

.form p {
	display: inline;
	font-size: 18px;
}
.form-control {
	display: inline;
}

.form input {
	display: inline;
}