<div class="container">
	
		<div class="form">

			<!-- THIS WAS USED IN A PREVIOUS PROJECT - IT FITS THE FORMAT OF WHAT IS NECESSARY HERE BUT MUST BE CHANGED TO FIT RESUME DATA -->

			<div class="form-group">
				<label for="usr">Name:</label>
				<input type="text" class="form-control" placeholder="Enter Username" id="usr">
				
				<label for="email">Email:</label>
				<input type="text" class="form-control" placeholder="Enter Email" id="email">

				<label for="pss">Phone Number:</label>
				<input #pass1 class="form-control" placeholder="Enter PhoneNumber" id="pss">

				<label for="pss2">GPA:</label>
				<input #pass2 class="form-control" placeholder="Enter GPA" id="pss2">
			</div>
		</div>
	
</div>