<nav class="navbar navbar-expand-sm bg-success navbar-dark">
	<ul class="navbar-nav">
			<a class="navbar-brand" href="#" style="font-size:40px;">
					<img src="https://www.xing.com/img/custom/cp/assets/logo/9/f/b/10747/square_128px/deloitte-deutschland-xing.jpg" alt="">
				  </a>
		<li class="nav-item active">
				<i class="fa fa-home"></i>
			<a (click)="onHome()" style="cursor: pointer;" class="nav-link">Homie</a>
		</li>
		<li class="nav-item">
			<a routerLink="resumes" class="nav-link">Search</a>
		</li>
		<li class="nav-item">
			<a class="nav-link disabled" style="cursor: default;">Profile</a>
		</li>
	</ul>
</nav>
<div class="container">
	<router-outlet></router-outlet>
</div>