<nav class="navbar navbar-expand-sm bg-success navbar-dark">
	<ul class="navbar-nav">
			<a class="navbar-brand" href="#">
					<img src="https://upload.wikimedia.org/wikipedia/en/2/2b/DeloitteNewSmall.png" alt="">
				  </a>
		<li class="nav-item active">
				<i class="fa fa-home"></i>
			<a (click)="onHome()" style="cursor: pointer;" class="nav-link">Hoome</a>
		</li>
		<li class="nav-item">
			<a routerLink="resumes" class="nav-link">Search</a>
		</li>
		<li class="nav-item">
			<a class="nav-link disabled" style="cursor: default;">Profile</a>
		</li>
	</ul>
</nav>
<div class="container">
	<router-outlet></router-outlet>
</div>