<div class="container">
	<div class="row">
		<div class="col-lg-6 col-xl-6 col-sm-6 col-md-6">
			<!-- <img *ngIf="resume" [src]="resumeImage" 
				width="99.6%" height="450px" alt=""> -->
		</div>
		<div class="col-lg-6 col-xl-6 col-sm-6 col-md-6">
			<div class="form">
				<div class="row">
					<div class="col-lg-6">
						<div class="form-group">
								<label for="name">Name:</label>
								<input type="text" class="form-control" 
								placeholder="Enter Name" id="name">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="form-group">
							<label for="email">Email:</label>
							<input type="text" class="form-control" 
							placeholder="Enter Email" id="email">
						</div>
					</div>
				</div>
				
				<br>

				<button class="btn btn-success" (click)="onConfirm()"
					data-toggle="modal" data-target="#resumeModal">
					Confirm
				</button>
				<button class="btn btn-danger" (click)="onCancel()"
					data-toggle="modal" data-target="#resumeModal">Cancel
				</button>
			</div>	
		</div>
	</div>
</div>