<div class="container">
	<div class="row">
		<div class="col-lg-6 col-xl-6 col-sm-12 col-md-12">
			<img *ngIf="resume" class="img-responsive img-rounded"
				width="95%" height="50%"
				alt="Resume Image" 
				[src]="'http://10.171.204.172:3000/images/' + resumeImage">
		</div>
		<div class="col-lg-6 col-xl-6 col-sm-6 col-md-6">
			<div class="form">
				<div class="row">
					<div class="col-lg-6">
						<div class="form-group">
								<label for="name">Name:</label>
								<input type="text" class="form-control" 
								placeholder="Enter Name" id="name">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-6">
						<div class="form-group">
								<label for="phone">Phone:</label>
								<input type="text" class="form-control" 
								placeholder="Enter Phone" id="phone">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-6">
						<div class="form-group">
							<label for="email">Email:</label>
							<input type="text" class="form-control" 
							placeholder="Enter Email" id="email">
						</div>
					</div>
				</div>
				
				<hr>
				<div class="row">
					<h1>Keywords</h1>
					<i class="fa fa-plus" (click)="addNew('keywords')"
						style="cursor: pointer;color:#4dac26;"></i>
				</div>
				
				<div class="row">
					<div *ngFor="let keyword of resumeCopy.keywords; let i = index"
						class="col-lg-6">
						<i class="fa fa-trash" style="cursor: pointer;"
							(click)="onDelete('keywords', i)"></i>
						<div class="form-group">
							<label for="{{'keywords' + i}}">Keyword:</label>
							<input type="text" class="form-control" 
								placeholder="Enter Keyword"
								id="{{'keywords' + i}}">
						</div>
					</div>
				</div>

				<hr>
				<div class="row">
					<h1>Education</h1>
					<i class="fa fa-plus" (click)="addNew('education')"
						style="cursor: pointer;color:#4dac26;"></i>
				</div>

				<div class="row">
					<div *ngFor="let edu of resumeCopy.education; let i = index"
						class="col-lg-6">
						<i class="fa fa-trash" style="cursor: pointer;"
						(click)="onDelete('education', i)"></i>
						<div class="form-group">
							<label for="{{'university' + i}}">
								University:
							</label>
							<input type="text" class="form-control" 
								placeholder="Enter University" 
								id="{{'university' + i}}">
						</div>

						<div class="form-group">
							<label for="{{'degree' + i}}">
								Degree:
							</label>
							<input type="text" class="form-control" 
								placeholder="Enter Degree" 
								id="{{'degree' + i}}">
						</div>

						<div class="form-group">
							<label for="{{'gpa' + i}}">
								GPA:
							</label>
							<input type="text" class="form-control" 
								placeholder="Enter GPA" 
								id="{{'gpa' + i}}">
						</div>

						<div class="form-group">
							<label for="{{'year' + i}}">
								Year Received:
							</label>
							<input type="text" class="form-control" 
								placeholder="Enter Year" 
								id="{{'year' + i}}">
						</div>
					</div>
				</div>

				<hr>

				<div class="row">
					<h1>Work Experience</h1>
					<i class="fa fa-plus" (click)="addNew('experience')"
						style="cursor: pointer;color:#4dac26;"></i>
				</div>

				<div class="row">
					<div *ngFor="let exp of resumeCopy.experience; let i = index"
						class="col-lg-6">
						<i class="fa fa-trash" style="cursor: pointer;"
							(click)="onDelete('experience', i)"></i>
						<div class="form-group">
							<label for="{{'company' + i}}">
								Company:
							</label>
							<input type="text" class="form-control" 
								placeholder="Enter Company" 
								id="{{'company' + i}}">
						</div>

						<div class="form-group">
							<label for="{{'position' + i}}">
								Position:
							</label>
							<input type="text" class="form-control" 
								placeholder="Enter Position" 
								id="{{'position' + i}}">
						</div>

						<div class="form-group">
							<label for="{{'totalExperience' + i}}">
								Months Employed:
							</label>
							<input type="text" class="form-control" 
								placeholder="Enter Months Employed" 
								id="{{'totalExperience' + i}}">
						</div>
					</div>
				</div>

				<br>

				<button class="btn btn-success" (click)="onConfirm()"
					data-toggle="modal" data-target="#resumeModal">
					Confirm
				</button>
				<button class="btn btn-danger" (click)="onCancel()"
					data-toggle="modal" data-target="#resumeModal">Cancel
				</button>
				<button class="btn btn-danger" (click)="onDeleteResume()"
					data-toggle="modal" data-target="#resumeModal">Delete
				</button>
			</div>	
		</div>
	</div>
</div>