<div class="container">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<app-search-test #SearchTest 
				(select)="onResumeSelected($event)"></app-search-test>
		</div>
	</div>
</div>

<div class="modal fade" id="resumeModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">{{displayName}}</h4>
			</div>
			<div class="modal-body">
				<app-resume-viewer *ngIf="resumeView" [resume]="selectedResume" 
					[path]="selectedPath" (update)="resumeView = false"
					(send)="SearchTest.onSearch()"
					(delete)="SearchTest.onDelete($event)">
				</app-resume-viewer>
			</div>
		</div>
	</div>
</div>